/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;800&display=swap');

/*Setting font-size for 100% as using rem for font-size*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito+Sans', sans-serif ;
    font-size: 100%;
    color:rgb(75, 33, 14);
}

body{
    background: url(../images/background-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(243, 234, 220);
}
    

header{
    display: flex;
    justify-content: center;
}

#quiz-title{
    font-size: 4rem;
    font-weight: 800;
}

/* Difficulty selector styling*/

#difficulty-title h1{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    font-size: 2.5rem;
    font-weight: 600;
}

#difficulty-selector{
    display:grid;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.difficulty-btn{
    margin-bottom: 80px;
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid rgb(75, 33, 14);
    border-radius: 5px;
    padding: 5px 10px;
    background: #DBBEA1FF;
}

.difficulty-btn:hover{
    background:rgb(75, 33, 14);
    color: white;
    cursor:pointer;
}

/*Quiz rules container styling*/

.rules-container{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mortal-rules,
#demi-rules,
#olympian-rules{
    background: #DBBEA1FF;
    width: 60%;
    height:60%;
    border: 10px solid rgb(75, 33, 14);
    border-radius: 5px;
}

.rules-title{
    font-size: 3rem;
    font-weight: 600;
    padding: 10px;
    text-align:center;
    border-bottom: 2px solid black;
}

.rules-list{
    margin-top: 20px;
    padding:10px;
    text-align: center;
}

.rules{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.rules-footer{
    margin-top: 60px;
}

.change-btn{
    font-size:1.5rem;
    font-weight:800;
    background: white;
    border: 2px solid rgb(75, 33, 14);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.change-btn:hover{
    background:rgb(75, 33, 14);
    color: white;
    cursor:pointer;
}

.start-btn{
    font-size:1.5rem;
    font-weight:800;
    background: white;
    border: 2px solid rgb(75, 33, 14);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.start-btn:hover{
    background:rgb(75, 33, 14);
    color: white;
    cursor:pointer;
}

/*Quiz game container*/

#quiz-game-container{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}

#quiz-container{
    background: #DBBEA1FF;
    width: 60%;
    height:60%;
    border: 10px solid rgb(75, 33, 14);
    border-radius: 5px;
}

.container-header{
    border-bottom: 2px solid rgb(75, 33, 14);
}

#question{
    font-size: 2rem;
    font-weight: 600;
    padding: 10px;
    text-align:center;
    border-bottom: 2px solid rgb(75, 33, 14);
}

.answer-list{
    display:grid;
    margin-top: 40px;
    margin-bottom: 40px;
}

.answer-btn{
    font-size:1.5rem;
    font-weight:800;
    background: white;
    border: 2px solid rgb(75, 33, 14);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.answer-btn:hover{
    background:rgb(75, 33, 14);
    color: white;
    cursor:pointer;
}

.next-btn{
    font-size:4rem;
    font-weight:800;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.next-btn:hover{
    background:grey;
    color: white;
    cursor:pointer;
}

/*class for correct and wrong answers*/
.answer-btn.correct{
    background:green;
}

.answer-btn.wrong{
    background: red;
    color:white;
}

/* Class to hide containers until activated by JavaScript*/
.hide{
    display: none;
}

.no-click{
    pointer-events: none;
}

